* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.navigation {
    justify-content: center;
    background: gray;
    padding: 2rem;

    & > nav.top-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & > a.top-btn {
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}